<header>
  <h1 class="heading">
    <%= link_to "Books", book_path %>
  </h1>
</header>


<h4 class="book-title"></h4>
<p>><%= @book.title %></p>


<h4 class="book-body"></h4>
<p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "destroy", destroy_book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>